<%- layout('./layouts/mainLayout.ejs') %>
    <div class="row h-100 d-flex justify-content-center mt-2">
        <div class="col-md px-0">
            <div class="row ms-2">
                <h1>Calculate Tax</h1>
            </div>
            <div class="row ms-2">
                <div class="col-md-4 ms-2">
                    <form action="/bb-tax/calculate-tax" method="post">
                        <div class="form-group my-3">
                            <label for="state" class="form-label">Customer State</label>
                            <input type="text" name="state" id="state" class="form-control"
                                placeholder="Enter Customer State For Example VA , MT" required>
                        </div>
                        <div class="form-group my-3">
                            <label for="subtotal" class="form-label">Basket Subtotal</label>
                            <input type="number" step="0.1" name="subtotal" id="subtotal"
                                placeholder="Enter Customer's subtotal" class="form-control" required>
                        </div>
                        <div class="my-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="/">
                                <button type="button" class="btn btn-warning">Cancel</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>